<h1>Merchants</h1>
<a href="/merchants/new">Create</a>
<table>
  <% @merchants.each do |merchant| %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    <td><%= merchant.total %></td>
  </tr>

  <% end %>
</table>
