<h1>Merchants</h1>
<div class="centre">
  <a href="/merchants/new" class="click">New Merchant</a>
</div>




  <table id="table_set_width">
    <% @merchants.each do |merchant| %>
    <tr>
      <td class="click"><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
      <td class="number"><%= sprintf "%.2f", merchant.total %></td>
    </tr>

    <% end %>
  </table>
