<h1>Merchants</h1>
<form class="centre" action="/merchants" method="post">
  <label for="merchant-name-field">
    <input type="text" name="name" id = "merchant-name-field" required>
  </label>
  <button type="submit" name="button">Create</button>
</form>
