<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">

  </head>
  <body>
    <header>
    </header>

    <nav class="inline-block centre">
      <ul>
        <img id="logo" src="/images/logo.png" alt="logo">

      <a href="/tags"><li class="click">Tags</li></a>
      <a href="/merchants"><li class="click">Merchants</li></a>
      <a href="/transactions"><li class="click">Transactions</li></a>
      <a href="/budgets"><li class="click">Budgets</li></a>
      </ul>
    </nav>

    <main class="inline-block">
      <div id="layout_info" class="right">Total Spendings: £<%= @total %></div>
      <!-- <div id="layout_info" class="right">Budget warnings:  </div> -->


        <%= yield %>

    </main>
  </body>
</html>
