<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>Total Spendings: <%= @total %></div>
      <div>Budget: 

      </div>

        <%= yield %>

    </main>
  </body>
</html>
