<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/tags">Tags</a></li>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
