<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">

  </head>
  <body>
    <header>
    </header>

    <nav class="inline-block">
      <ul>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/budgets">Budgets</a></li>
      </ul>
    </nav>

    <main class="inline-block">
      <div class="right">Total Spendings: <%= @total %></div>
      <div class="right">Budget warnings:  </div>

        <%= yield %>

    </main>
  </body>
</html>
