<h1>Tags</h1>

<div class="centre">
  <a href="/tags/new">New Tag</a>
</div>

<table>
  <% @tags.each do |tag| %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <td><%= tag.total_spent %></td>

    <td class="link"><a href="/tags/<%= tag.id %>/newtrans">New Transaction</a></td>

  </tr>
  <% end %>
</table>
