<h1>Tags</h1>
<form class="centre" action="/tags" method="post">
  <label for="tag-name-field">
    <input type="text" name="name" id = "tag-name-field" required>
  </label>
  <button type="submit" name="button">Create</button>
</form>
