<h1>New <%= @tag.name %> Merchant</h1>
<form class="centre" action="/tags/newmerch" method="post">
  <label for="merchant-name-field">
    <input type="text" name="name" id = "merchant-name-field" required>
  </label>
  <input type="hidden" name="tag_id" value="<%= @tag.id %>">
  <button type="submit" name="button">Create</button>
</form>
