<h1>Transactions</h1>

<form class="" action="/transactions" method="post">

  <label for="transaction-amount-field"> Amount: £
    <input type="number" step="0.01" name="amount" id = "transaction-amount-field" required>
  </label>


  <input type="hidden" name="tag_id" value="<%= @tag.id %>">
  <p><%= @tag.name %></p>


  <select class="" name="merchant_id" required>
    <% @merchants.each do |merchant| %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <button type="submit" name="button">Create</button>

</form>
