
<h2><%= @tag.name %></h2>
<a href="/tags/<%=@tag.id%>/edit">Edit name</a>


<h2>Spent:  <%= @tag.total_spent %></h2>


<form class="" action="/tags/<%= @tag.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
