body {
  font-size: 20px;
  font-family: sans-serif;
  background-color: #212D40;
  color: lightgrey;


}

a {
  text-decoration-line: none;

  background-color: rgba(255,255,255,.1);
  /* opacity: 0.5; */
  padding:5px;
  border-radius:4px;
}

nav   {


}

nav li {
  margin-top: 10px;
}

ul {
  list-style: none;
}

main {
  margin-top: 20px;
  padding-left: 30px;
  margin-left:20px;
  width:600px;

  border-left-style: solid;
  border-left-width:1px;
}

div {

}

h1 {
  text-align: center;
}

a {
  color: lightgrey;
}

.inline-block{
  display: inline-block;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

div.centre {
  font-size: 20px;
}

div.right {
  font-style: bold;
}
