body {
  font-size: 20px;
  font-family: sans-serif;
  background-color: #212D40;
  color: lightgrey;


}

a {
  text-decoration-line: none;

  /* opacity: 0.5; */
}


nav   {


}

li {
  margin-top: 10px;
  display: block;
}

ul {
  list-style: none;
  width: 150px;
}

main {
  margin-top: 20px;
  padding-left: 30px;
  margin-left:20px;
  /* padding-bottom: 100px; */
  width:700px;
  /* border-left-style: solid; */
  border-left-width:1px;
  position: absolute;
}

div {

}

h1 {

  text-align: center;
}

a {
  color: lightgrey;
}

.click {
  background-color: rgba(255,255,255,.1);
  padding:5px;
  border-radius:4px;
}

.click:hover {
    background-color: rgba(255,255,255,.2);
}

.inline-block{
  display: inline-block;
}

.centre {
  text-align: center;
}

.right {
  text-align: right;
}

div.centre {
  font-size: 20px;
}

div.right {
  font-style: bold;
  font-size: 24px;
}

#logo {
  padding-top: 15px;
  padding-bottom: 25px;

}
