table {
  margin-top: 30px;

  font-family:;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;


}

tr {
  padding-top: 5px;
  padding-bottom: 5px;
}

tr:nth-child(odd) {
  background-color: #7D4E57;
}

td {
  padding: 5px;
}

td.link {
  text-align: center;
}

td.number {
  text-align: right;
}

#table_set_width {
  width:300px;
}
