<h1><%=@tag.name%> Budget </h1>


<form class="centre" action="/budgets/<%= @budget.id %>" method="post">
  <label for="budget-amount-field"> <%= @tag.name %>'s budget: £
    <input type="number" step="0.01" name="amount" id = "budget-name-field" required>
  </label>
  <button type="submit" name="button">Update Budget</button>
</form>

<form class="centre" action="/budgets/<%= @budget.id %>/delete" method="post">
  <input type="submit" name="" value="Delete budget">
</form>
