<h1>Budgets</h1>
<a href="/budgets/new">Create</a>
<table>

  <tr>
    <td><a href="/budgets/1">Overall Budget</a></td>
<td><%=@overall_budget.amount%></td>
  </tr>
  <% @tags.each do |tag| %>
  <tr>
    <td><a href="/budgets/<%= tag.id %>"><%= tag.name%></a></td>
    <td><%= tag.budget.amount %></td>
  </tr>
  <% end %>
</table>
