<h1>Budgets</h1>

<form class="" action="/budgets" method="post">
  <div class="centre">
    <label for="tag_id">Select a Tag:
      <select class="" name="tag_id">
        <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
        <% end %>
      </select>
    </label>
  </div>
  <div class="centre">
    <label for="budget-amount-field"> £
      <input type="number" step="0.01" name="amount" id = "budget-name-field" required>
    </label>
      <button type="submit" name="button">Add Budget</button>
  </div>


</form>
